<div class="row">
    <div>{{ myConstant }}</div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Owner</th>
            <th>Task</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in taskList" ng-hide="item.done">
            <td>{{ item.owner }}</td>
            <td>{{ item.task }}</td>
            <td>
                <button ng-click="done($index)" class="btn btn-primary">Done</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>